In [6]:
import pandas as pd
import numpy as np
import plotly.express as px

import dash 
import dash_html_components as html
import dash_core_components as dcc
from dash.dependencies import Input, Output

In [7]:
data = px.data.gapminder()

In [11]:
data

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
...,...,...,...,...,...,...,...,...
1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

In [8]:
app = dash.Dash(__name__)
app.layout = html.Div(
    [
        dcc.Dropdown(
            id="continent_dropdown",
            options = [{'label':i,'value':i} for i in data.continent.unique()]  
        ),
        html.Label('국가'),
        dcc.Dropdown(
            id="country_dropdown",
            options = []
        ),
        html.Label('연도'),
        dcc.Dropdown(
            id="year_dropdown",
        ),
        html.Label('test'),
        dcc.Dropdown(
            id="test_dropdown",
            options = []
        )
    ]
)

In [9]:
@app.callback(
    Output('country_dropdown','options'),
    Output('test_dropdown','options'),
    Input('continent_dropdown','value')
)

def update_my_country(continent):
#     @app.callback(
#         Output('test_dropdown','options'),
#         Input('continent_dropdown','value')
#     )
#     def update_my_country2(continent):
#         options = [{'label':i,'value':i} for i in data.loc[data.continent == continent,'country'].unique()]
#         return options
    options = [{'label':i,'value':i} for i in data.loc[data.continent == continent,'country'].unique()]
    return options,options

@app.callback(
    Output('year_dropdwon','options'),
    Input('continent_dropdown','value')
)
def update_my_year(continent):
    options = [{'label':i,'value':i} for i in data.loc[data.continent == continent, 'year'].unique()]
    return options

In [5]:
data.loc[data.continent=='Asia','year'].unique()

array([1952, 1957, 1962, 1967, 1972, 1977, 1982, 1987, 1992, 1997, 2002,
       2007], dtype=int64)

In [10]:
app.run_server()

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [15/Jun/2021 08:20:49] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [15/Jun/2021 08:20:49] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [15/Jun/2021 08:20:49] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [15/Jun/2021 08:20:49] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [15/Jun/2021 08:20:51] "POST /_dash-update-component HTTP/1.1" 200 -